.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.3fr 0.8fr 0.3fr;
      grid-template-columns: 0.3fr 0.8fr 0.3fr;
  background-color: #272932;
}

@media screen and (max-width: 400px) {
  .container {
    -ms-grid-columns: 0.2fr auto 0.2fr;
        grid-template-columns: 0.2fr auto 0.2fr;
  }
}

.container .skillsContainer {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  width: 100%;
  margin: 5%;
  background-color: #35384C;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  border-radius: 3px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0.2fr 1fr;
      grid-template-rows: 0.2fr 1fr;
}

.container .skillsContainer .title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.container .skillsContainer .title h1 {
  color: white;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container .skillsContainer .skills {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin: 5%;
}

.container .skillsContainer .skills .block1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  text-align: center;
}

.container .skillsContainer .skills .block1 .golang {
  position: relative;
}

.container .skillsContainer .skills .block1 .docker {
  position: relative;
}

.container .skillsContainer .skills .block1 .grpc {
  position: relative;
}

.container .skillsContainer .skills .block1 .skillIcon {
  width: 6em;
}

.container .skillsContainer .skills .block2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  text-align: center;
}

.container .skillsContainer .skills .block2 .c {
  position: relative;
}

.container .skillsContainer .skills .block2 .plant {
  position: relative;
}

.container .skillsContainer .skills .block2 .mysql {
  position: relative;
}

.container .skillsContainer .skills .block2 .skillIcon {
  width: 5.7em;
}

.container .skillsContainer .skills .block3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  text-align: center;
}

.container .skillsContainer .skills .block3 .javascript {
  position: relative;
}

.container .skillsContainer .skills .block3 .nodejs {
  position: relative;
}

.container .skillsContainer .skills .block3 .otimizacao {
  position: relative;
}

.container .skillsContainer .skills .block3 .skillIcon {
  width: 5.7em;
}

.container .skillsContainer .skills .block3 .nodeJs {
  width: 6em;
  margin: 6% 0;
}

.tooltipText {
  visibility: hidden;
  width: 140px;
  background-color: white;
  color: #26262b;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  opacity: 0;
  bottom: 87%;
  left: 47%;
  margin-left: -60px;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
          box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

.tooltipText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

.golang:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}

.docker:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}

.grpc:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}

.c:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}

.plant:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}

.mysql:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}

.javascript:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}

.nodejs:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}

.otimizacao:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}
/*# sourceMappingURL=Skills.module.css.map */