.container {
    display: grid;
    grid-template-columns: .3fr .8fr .3fr;
    background-color: #272932;

    .skillsContainer {
        grid-column: 2/3;
        width: 100%;
        margin: 5%;
        background-color: #4E4F57;
        align-self: center;
        justify-self: center;
        border-radius: 3px;
        display: grid;
        grid-template-rows: .2fr 1fr;

        .title {
            grid-row: 1/2;

            h1 {
                color: white;
                text-align: center;
                align-self: center;
            }
        }

        .skills {
            grid-row: 2/3;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin: 5%;

            .block1 {
                grid-column: 1/2;
                text-align: center;

                .skillIcon {
                    width: 6em;
                }
            }

            .block2 {
                grid-column: 2/3;
                text-align: center;

                .skillIcon {
                    width: 5.7em;
                }
            }

            .block3 {
                grid-column: 3/4;
                text-align: center;

                .skillIcon {
                    width: 5.7em;
                }
            }
        }
    }
}