.cardContainer {
  -webkit-transition: opacity 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 0.5;
  background-color: white;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr .6fr 1fr;
      grid-template-rows: 1fr .6fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin: 5% 0;
  border-radius: 3px;
}

.cardContainer .cardTitle {
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.7s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  text-align: center;
}

.cardContainer .subTitle {
  -webkit-transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  text-align: center;
}

.cardContainer .languages {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: .1fr .2fr;
      grid-template-rows: .1fr .2fr;
  margin: 5%;
}

.cardContainer .languages .title {
  -webkit-transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 0;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  text-align: center;
}

.cardContainer .languages .title h2 {
  font-size: 1.3em;
  margin: 5% 0;
}

.cardContainer .languages .languageNames {
  -webkit-transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 0;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.cardContainer .languages .languageNames h2 {
  font-size: 1em;
  margin: 0;
}

.cardContainer .links {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -webkit-transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 0;
}

.cardContainer .links h2 {
  text-align: center;
  font-size: 1.3em;
  margin: 5% 0;
}

.cardContainer:hover {
  opacity: 1;
}

.cardContainer:hover .cardTitle {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

.cardContainer:hover .subTitle {
  opacity: 1;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.cardContainer:hover .languages .title {
  opacity: 1;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.cardContainer:hover .languages .languageNames {
  opacity: 1;
  -webkit-transform: translateY(-9px);
          transform: translateY(-9px);
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.cardContainer:hover .links {
  opacity: 1;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
/*# sourceMappingURL=projectCard.module.css.map */