.displayHeader {
    height: 100vh;
    display: grid;
    background-color: #226CE0;

    h1 {
        color: white;
        text-align: center;
        align-self: center;
        justify-self: center;
    }
}