.container {
    // background-color: #3C3C3C; cor 1
    background-color: #35384C;
    color: white;
    height: 100%;
    display: grid;

    h1 {
        margin: 5% 0;
        align-self: center;
        justify-self: center
    }
}