.projectsContainer {
    display: grid;
    grid-template-rows: .2fr 1fr;
    // background-color: #292929;
    background-color: #272932; 

    .projectsTitle {
        grid-row: 1/2;
        display: grid;

        .container {
            width: 40%;
            height: 100px;
            align-self: center;
            justify-self: center;
            // background-color: #3C3C3C;
            background-color: #4E4F57;
            border-radius: 3px;
            color: white;
            margin-top: 5%;

            h1 {
                text-align: center;
            }
        }
    }

    .cardContainer {
        grid-row: 2/3;
        display: grid;
        grid-template-columns: .3fr 1fr .3fr;
    }
}