.sectionsContainer {
  display: grid;
  grid-template-rows: auto auto auto;

  .sectionOne {
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media screen and (max-width: 800px) {
      display: grid;
      grid-template-rows: .5fr 1fr;
    }

    .cover {
      display: grid;
      grid-row: 1/2;
      grid-column: 1/2;
      background-color: #35384C;

      @media screen and (max-width: 800px) {
        display: grid;
        grid-row: 1/2;
        grid-column: none;
        height: 50vh;
      }

      .coverImg {
        height: 60%;
        align-self: center;
        justify-self: center;
        border: 5px solid white;

        @media screen and (max-width: 800px) {
          height: 80%;
        }

      }
    }

    .textContainer {
      display: grid;
      grid-column: 2/3;
      font-size: 1.2em;
      padding: 3%;
      text-align: justify;
      height: 100vh;
      color: white;
      background-color: #272932; 

      @media screen and (max-width: 800px) {
        display: grid;
        grid-row: 2/3;
        grid-column: none;
        font-size: 1em;
        height: auto;
        padding: 0;
      }
      
      h1 {
        align-self: center;
        margin-top: 0;
        font-size: 3em;
        margin: 5%;

        @media screen and (max-width: 800px) {
          text-align: center;
        }
      }
      h2 {
        margin: 4%;
        align-self: center;

        @media screen and (max-width: 800px) {
          font-size: 1.4em;
        }

      }
    }
  }

  .sectionTwo {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media screen and (max-width: 800px) {
      display: grid;
      grid-template-rows: .5fr 1fr;
    }
    
    .cover {
      background-color: #35384C;
      display: grid;
      grid-column: 2/3;
      grid-row: 1/2;

      @media screen and (max-width: 800px) {
        display: grid;
        grid-row: 1/2;
        grid-column: none;
      }

      .coverImg {
        height: 60%;
        align-self: center;
        justify-self: center;
        border: 5px solid white;

        @media screen and (max-width: 800px) {
          height: 70%;
        }
      }
    }

    .textContainer {
      display: grid;
      grid-column: 1/2;
      font-size: 1.2em;
      height: 100vh;
      padding: 3%;
      text-align: justify;
      color: white;
      background-color: #272932; 
     
      @media screen and (max-width: 800px) {
        display: grid;
        grid-row: 2/3;
        grid-column: none;
        font-size: 1em;
        height: auto;
        padding: 0;
      }

      h1 {
        align-self: center;
        margin-top: 0;
        font-size: 3em;
        margin: 1% 5%;

        @media screen and (max-width: 800px) {
          text-align: center;
        }
      }

      h3 {
        margin: 4%;
        align-self: center;
      }
    }
  }

  .sectionThree {
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;

    @media screen and (max-width: 800px) {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr;
    }
    
    .cover1 {
      background-color: #35384C;
      display: grid;
      grid-column: 1/2;

      @media screen and (max-width: 800px) {
        display: grid;
        grid-row: 1/2;
        grid-column: 1/4;
      }

      .coverImg1 {
        height: 60%;
        align-self: center;
        justify-self: center;
        border: 5px solid white;
        margin: 6%;

        @media screen and (max-width: 800px) {
          height: 60%;
        }
      }
    }

    .cover2 {
      background-color: #35384C;
      display: grid;
      grid-column: 2/3;

      @media screen and (max-width: 800px) {
        display: grid;
        grid-row: 2/3;
        grid-column: 1/4;
      }

      .coverImg2 {
        height: 40%;
        align-self: center;
        justify-self: center;
        border: 5px solid white;
        margin: 6% 5%;

        @media screen and (max-width: 800px) {
          height: 40%;
        }
      }
    }

    // .textContainer {
    //   display: grid;
    //   grid-column: 2/3;
    //   font-size: 1.2em;
    //   padding: 3%;
    //   height: 100vh;
    //   text-align: justify;
    //   color: white;
    //   background-color: #35384C;
      
    //   @media screen and (max-width: 800px) {
    //     display: grid;
    //     grid-row: 2/3;
    //     grid-column: none;
    //     font-size: 1em;
    //     height: auto;
    //     padding: 0;
    //   }

    //   h1 {
    //     margin-top: 0;margin: 5%;
    //   }

    //   p {
    //     margin: 5%
    //   }
    // }
  }
}
