.sectionsContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
}

.sectionsContainer .sectionOne {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 1080px) {
  .sectionsContainer .sectionOne {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
}

@media screen and (max-width: 370px) {
  .sectionsContainer .sectionOne {
    -ms-grid-rows: .8fr 1fr;
        grid-template-rows: .8fr 1fr;
  }
}

.sectionsContainer .sectionOne .cover {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  background-color: #35384C;
}

@media screen and (max-width: 800px) {
  .sectionsContainer .sectionOne .cover {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    grid-column: none;
  }
}

.sectionsContainer .sectionOne .cover .coverImg {
  height: 80%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  border: 5px solid white;
}

@media screen and (max-width: 800px) {
  .sectionsContainer .sectionOne .cover .coverImg {
    height: 80%;
  }
}

@media screen and (max-width: 380px) {
  .sectionsContainer .sectionOne .cover .coverImg {
    height: 60%;
  }
}

.sectionsContainer .sectionOne .textContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  font-size: 1.2em;
  padding: 3%;
  text-align: justify;
  height: 100vh;
  color: white;
  background-color: #272932;
}

@media screen and (max-width: 800px) {
  .sectionsContainer .sectionOne .textContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    grid-column: none;
    font-size: 1em;
    height: auto;
    padding: 0;
  }
}

.sectionsContainer .sectionOne .textContainer h1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 0;
  font-size: 3em;
  margin: 5%;
}

@media screen and (max-width: 800px) {
  .sectionsContainer .sectionOne .textContainer h1 {
    text-align: center;
  }
}

.sectionsContainer .sectionOne .textContainer h2 {
  margin: 4%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (max-width: 800px) {
  .sectionsContainer .sectionOne .textContainer h2 {
    font-size: 1.4em;
  }
}

.sectionsContainer .sectionTwo {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 800px) {
  .sectionsContainer .sectionTwo {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: .9fr 1fr;
        grid-template-rows: .9fr 1fr;
  }
}

@media screen and (max-width: 370px) {
  .sectionsContainer .sectionTwo {
    -ms-grid-rows: .4fr 1fr;
        grid-template-rows: .4fr 1fr;
  }
}

.sectionsContainer .sectionTwo .cover {
  background-color: #35384C;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

@media screen and (max-width: 800px) {
  .sectionsContainer .sectionTwo .cover {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    grid-column: none;
  }
}

.sectionsContainer .sectionTwo .cover .coverImg {
  height: 80%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  border: 5px solid white;
}

@media screen and (max-width: 1060px) {
  .sectionsContainer .sectionTwo .cover .coverImg {
    height: 57%;
  }
}

@media screen and (max-width: 370px) {
  .sectionsContainer .sectionTwo .cover .coverImg {
    height: 70%;
  }
}

.sectionsContainer .sectionTwo .textContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  font-size: 1.2em;
  padding: 3%;
  text-align: justify;
  color: white;
  background-color: #272932;
}

@media screen and (max-width: 800px) {
  .sectionsContainer .sectionTwo .textContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    grid-column: none;
    font-size: 1em;
    height: auto;
    padding: 0;
  }
}

.sectionsContainer .sectionTwo .textContainer h1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 0;
  font-size: 3em;
  margin: 1% 5%;
}

@media screen and (max-width: 800px) {
  .sectionsContainer .sectionTwo .textContainer h1 {
    text-align: center;
  }
}

.sectionsContainer .sectionTwo .textContainer h3 {
  margin: 4%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.sectionsContainer .sectionThree {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 100vh;
}

@media screen and (max-width: 800px) {
  .sectionsContainer .sectionThree {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.sectionsContainer .sectionThree .cover1 {
  background-color: #35384C;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

@media screen and (max-width: 800px) {
  .sectionsContainer .sectionThree .cover1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
}

.sectionsContainer .sectionThree .cover1 .coverImg1 {
  height: 80%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  border: 5px solid white;
  margin: 6%;
}

@media screen and (max-width: 800px) {
  .sectionsContainer .sectionThree .cover1 .coverImg1 {
    height: 90%;
    margin: 0;
  }
}

.sectionsContainer .sectionThree .cover2 {
  background-color: #35384C;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

@media screen and (max-width: 800px) {
  .sectionsContainer .sectionThree .cover2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
}

.sectionsContainer .sectionThree .cover2 .coverImg2 {
  height: 80%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  border: 5px solid white;
  margin: 6% 5%;
}

@media screen and (max-width: 800px) {
  .sectionsContainer .sectionThree .cover2 .coverImg2 {
    height: 80%;
    margin: 0;
  }
}
/*# sourceMappingURL=About.module.css.map */